.staff-group {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.staff-wrapper {
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.staff-wrapper .staff-photo {
    height: 200px;
    width: 200px;
    background: black;
    margin: 0 auto;

    border-radius: 360px;

    object-fit: cover;
}

.staff-wrapper .staff-description {
    padding-top: 10px;
    text-align: center;
}

.staff-wrapper .staff-name {
    font-weight: bold;
    font-size: 18px;
}

.staff-wrapper .staff-contact {
    margin-top: 10px;
    font-style: italic;
}

#all-staff-list ul {
    text-align: center;
    text-indent: 0px;
    margin: 0px;
    padding: 0px;
}

#all-staff-list li {
    margin: 0px;
    padding: 0px;
}

#all-staff-list a {
    color: var(--theme-text-color);
}