footer {
    display: block;
    width: 100%;
    padding: 40px 0px;
    text-align: center;
    background-color: var(--theme-primary-color);
    color: var(--theme-secondary-color);
}

img {
    height: 15px;
}

#footer-copy {
    padding: 10px;
    font-size: 14px;
}