#home-banner {
    width: 100%;
}

#home-banner .text {
    margin: 30vh 0px;
    width: 100%;
    color: var(--theme-primary-color);

    text-align: center;

    background: rgba(192, 57, 43, .6);
    padding: 20px 0px;
}

#home-banner .text {
    font-size: 40px;
}

#home-content {
    margin: 100px auto;
    background: var(--theme-primary-color);
    height: auto;
    width: 600px;

    text-align: center;
    padding: 60px;
}

section {
    background: none !important;
}

#background-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
}

#background-wrapper .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: 1s;
}

#logo-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#logo-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;

}

#verse-events-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    background: var(--theme-primary-color);
    overflow: hidden;
}

#scripture-verse {
    position: relative;
    margin: 10px;
    font-size: 25px;
    background: #843031;
    color: var(--theme-primary-color);
    text-align: center;
    transform: rotate(-10deg);
    height: 150%;
    width: 120%;
    margin-top: -10%;
    margin-left: -20%;
}

#scripture-verse p {
    position: absolute;
    top: 45%;
    left: 55%;
    text-indent: 0px;
    width: 60%;
    transform: rotate(10deg) translate(-50%, -50%);
}

#content-wrapper {
    margin-left: 10%;
    margin-top: 20px;

    font-weight: normal;
}

#calendar-events ul {
    list-style: circle;
}

#content-wrapper li {
    width: 40vw;
    min-width: 400px;
}

.content {
    margin-top: 0px;
}