<header>
    <img id="nav-icon" src="/ref/logos/CCA_Icon_Shield.png">
    <div id="nav-wrapper">
        <nav>
            <ul>
                <li id="home-button">
                    <a href="/">Home</a>
                </li>
                <li id="introduction-button">
                    <a style="cursor: default;">An Introduction</a>
                </li>
                <li id="admissions-button">
                    <a style="cursor: default;">Admissions</a>
                </li>
                <li id="header-space">

                </li>
                <li id="parent-button">
                    <a style="cursor: default;">Parent Resources</a>
                </li>
                <li id="student-button">
                    <a style="cursor: default;">Student Resources</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Dropdown menu -->
    <div id="dropdown-wrapper">
        <!-- Introduction -->
        <div class="drop-menu" id="introduction-dropdown">
            <img class="drop-image" src="/ref/icons/hello-logo-stone.png">
            <ul>
                <li>
                    <a href="/introduction/mission/">Mission & Vision Statements</a>
                </li>
                <li>
                    <a href="/introduction/statement/">Statement of Purpose</a>
                </li>
                <li>
                    <a href="/introduction/principal/">Principal's Corner</a>
                </li>
                <li>
                    <a href="/introduction/community/">Community</a>
                </li>
            </ul>
        </div>
        <!-- Admissions -->
        <div class="drop-menu" id="admissions-dropdown">
            <img class="drop-image" src="/ref/icons/admissions-icon.png">
            <ul>
                <li>
                    <a href="/admissions/openhouse/">Visiting CCA</a>
                </li>
                <li>
                    <a href="/admissions/enrollment/">Enrollment Procedures</a>
                </li>
                <li>
                    <a href="/admissions/tuition/">Tuition & Before/After Care</a>
                </li>
                <li>
                    <a href="/admissions/policies/">Student Conduct</a>
                </li>
            </ul>
        </div>
        <!-- Parent Resources -->
        <div class="drop-menu" id="parent-dropdown">
            <img class="drop-image" src="/ref/icons/parents-icon.png">
            <ul>
                <li>
                    <a href="https://www.renweb.com/" target="_blank">RENWEB</a>
                </li>
                <li>
                    <a href="https://www.renweb.com/" target="_blank">FACTS</a>
                </li>
                <li>
                    <a href="https://www.boonli.com/" target="_blank">Lunch Order</a>
                </li>
                <li>
                    <a href="/parent/uniform/">Uniform Order</a>
                </li>
                <li>
                    <a href="/ref/data/school_supplies-190716.pdf" target="_blank">School Supplies</a>
                </li>
                <li>
                    <a href="/parent/educationresources/">Educational Resources</a>
                </li>
            </ul>
        </div>
        <!-- Student Resources -->
        <div class="drop-menu" id="student-dropdown">
            <img class="drop-image" src="/ref/icons/student-icon.png">
            <ul>
                <li>
                    <a href="https://www.abcmouse.com/login" target="_blank">ABC Mouse</a>
                </li>
                <li>
                    <a href="/ref/data/summer_reading-190715.pdf" target="_blank">Summer Reading</a>
                </li>
                <li>
                    <a href="/ref/data/school_calendar-190826.pdf" target="_blank">School Calendar</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<script src="/scripts/header-menubar.js"></script>